@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

:root {
    -color--primary:#171717;
    -color--sec:#444444;
    -color--red:#DA0037;
    -color--gray:#EDEDED;
}

body {
    /* background-image: url('./depositphotos_112797148-Black-and-red-gradient-background\ \(1\).jpg'); */
    /* background-repeat: no-repeat; */
    /* background-size: cover/; */
    background: linear-gradient(to top, rgb(255, 0, 0) 0%, black 100%);
    height: 100vh;
    width: auto;
    font-family: 'Roboto', sans-serif;
}

.title {
    text-align: center;
    margin-top: 100px;
    color: #fff;
    font-size: 50px;
    font-style: italic;
}

.wrapper {
    margin: 50px auto;
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    border-radius: 25px;
    padding: 25px;
}

.wrapper .inputField {
    display: flex;
    height: 45px;
    width: 100%;
    margin-bottom: 8px;
}

.wrapper .inputField input {
    width: 90%;
    height: 100%;
    border-radius: 7px;
    border: none;
    outline: none;
    font-size: 20px;
    padding-left: 1rem;
    background-color: #EDEDED;
}

.wrapper .inputField input::placeholder {
    font-size: 20px;
    font-style: italic;
}

.wrapper .inputField button {
    background-color:#444444;
    color: #fff;
    padding: 2px 12px;
    font-size: 30px;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    pointer-events: none;
    opacity: 0.6;
}

.wrapper .inputField button.active {
    opacity: 1;
    pointer-events: auto;
}

.wrapper .todolist {
  overflow-y: auto;
  max-height: 300px;  
}

.wrapper .todolist li {
    list-style: none;
    height: 45px;
    line-height: 45px;
    background-color: #EDEDED;
    margin-bottom: 10px;
    border-radius: 7px;
    padding: 0 15px;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    color: #626262;
    cursor: default;
    overflow: hidden;
}

.wrapper .todolist li i {
    background-color: #fa3062;
    color: #fff;
    padding: 10px;
    font-size: 27px;
    position: absolute;
    right: -45px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.wrapper .todolist li:hover i {
    right: 0px;
}

.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

.footer span {
    font-style: italic;
    font-size: 20px;
}

.footer button {
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    border-radius: 20px;
    background-color: #fa3062;
    border: none;
    padding:5px 10px;
    text-align: center;
    pointer-events: none;
    opacity: 0.6;
}

.footer button.active {
    pointer-events: auto;
    opacity: 1;
}